
.header-recursos {
    background-color: #F5E5F0;
    display: flex;
    justify-content: center;
    height: 20rem;
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .carousel-item .row {
      display: flex;
      flex-direction: row;
    }
    .carousel-item .col-sm-3 {
      flex: 1;
    }
  }