.header-recursos {
    background-color: #F5E5F0;
    display: flex;
    justify-content: center;
    height: 20rem;
    margin-bottom: 5rem;
}

.columna-costum1 {
    background-color: blanchedalmond;
}
.columna-costum2{
    background-color: rgb(188, 188, 255);
    height: 10rem;

}

.columna-costum3 {
    background-color: rgb(255, 223, 223);
}

.columna-costum4 {
    background-color: rgb(226, 195, 255);
}